* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background: #004221;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  z-index: 100;
  top: -1px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-right: 50px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s, transform 0.5s;
}

#nav-links li:nth-child(1) {
  transition-delay: 0.1s;
}

#nav-links li:nth-child(2) {
  transition-delay: 0.2s;
}

#nav-links li.animate {
  opacity: 1;
  transform: translateY(0);
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 550;
}

nav ul li a img {
  margin-top: 3%;
  width: 160px;
  height: 70px;
}

.nav-items-hamburger {
  display: none;
}

main {
  background-image: url("assets/DWC\ banner.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
}

.about-the-project {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.about-the-project .heading {
  width: 71%;
}

#about-the-project {
  opacity: 0;
  transform: translateY(180px);
  transition: opacity 1.5s, transform 1.5s;
}

#about-the-project.animate {
  opacity: 1;
  transform: translateY(0);
}

.about-the-project h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 38px;
  position: relative;
  /* Ensure the pseudo-element is positioned relative to the h1 */
  display: inline-block;
}

.about-the-project h1::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  /* Adjust this value to control the space between the text and the line */
  height: 3px;
  /* Adjust this value to change the thickness of the line */
  width: 80px;
  /* Adjust this value to change the length of the line */
  background-color: black;
  /* Adjust this value to change the color of the line */
  vertical-align: middle;
}

.heading-line {
  border-bottom: 3px solid black;
}

.project-about {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-family: "Jost", sans-serif;
}

.project-about p {
  text-align: left;
}

.project-about-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-about-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px 50px 50px;
}

.project-description {
  font-size: x-large;
  text-align: left;
}

.download-brochure {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #215b43;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

.download-brochure:hover {
  color: #ffffff;
  background-color: #338a65;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.download-brochure:active {
  box-shadow: none;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  place-items: center;
  backdrop-filter: blur(5px);
  /* filter: blur(5px); */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  overflow: auto;
}

.material-symbols-outlined {
  position: absolute;
  right: 40px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

#close-button {
  top: 40px;
}

.enquiry-form {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 60px;
  background: #ffffff;
  border-radius: 0px;
  border: 2px solid #173d2d;
  font-family: "Jost", sans-serif;
}

.form-heading {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #333;
}

.group {
  position: relative;
}

.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

.form-label {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus~.form-label,
.input.has-value~.form-label {
  top: -20px;
  font-size: 14px;
  color: #000000;
}

.bar {
  position: relative;
  display: block;
  width: 94%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000000;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 0%;
}

.bar:after {
  right: 0%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
  width: 100%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 90%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}
.terms-and-condition-container {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.terms-and-condition {
  display: none; /* Hide the default checkbox */
}

.terms-and-condition + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px; /* Adjust padding to ensure space for the checkbox */
  font-size: 15px;
  color: #000000;
  user-select: none;
}

.terms-and-condition + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #004221;
  border-radius: 3px;
  background-color: white;
}

.terms-and-condition:checked + label:before {
  background-color: #004221;
}

.terms-and-condition:checked + label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 47%;
  transform: translateY(-50%) rotate(45deg);
  width: 4px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

input[type="submit"] {
  background-color: #215b43;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 30px;
}

input[type="submit"]:hover {
  background-color: #173d2d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bottom-nav {
  display: none;
}

.unit-details {
  display: flex;
  padding: 150px 0;
  align-items: center;
  flex-direction: column;
}

.unit-details h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 38px;
  color: black;
}

.unit-cards {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.unit-details .unit-card {
  height: 50vh;
  width: 25vw;
  box-shadow: 0 8px 16px rgba(33, 91, 67, 0.3);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s, transform 0.3s;
}

.unit-details .unit-card:hover {
  box-shadow: 0 8px 16px rgba(33, 91, 67, 0.4);
  transform: scale(1.05);
}

.unit-details .unit-card h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #215b43;
}

.unit-details .unit-card p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.unit-details .unit-card button.view-details {
  padding: 10px 20px;
  margin-top: 15px;
  border: 2px solid #215b43;
  background-color: white;
  color: #215b43;
  cursor: pointer;
  border-radius: 40px 40px 40px 40px;
  transition: all 0.3s;
  font-family: "Jost", sans-serif;
  font-size: 22px;
}

.unit-details .unit-card button.view-details:hover {
  background-color: #215b43;
  color: white;
}

.gallery {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  min-height: 50vh;
}

.gallery h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 38px;
  color: black;
}

.gallery-tabs {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-tabs::-webkit-scrollbar {
  display: none;
}

.gallery-tab {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #cecccc;
  font-family: "Jost", sans-serif;
  min-width: 25%;
  text-align: center;
  transition: all 0.3s;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  margin-right: 3px;

}

.gallery-tab:focus,
.gallery-tab.focus {
  background-color: #004221;
  color: white;
}

.gallery-tab-content {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.gallery-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.gallery-tab-content.active {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 95%;
}

.img-container {
  position: relative;
  margin: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
}

.gallery-tab-content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
}

#zoom-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 15px 0;
  padding: 2px;
  pointer-events: none;
}

.hidden {
  display: none;
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.amenities {
  text-align: center;
  padding: 20px;
}

.amenities h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  color: #000000;
  margin-bottom: 10px;
}

.amenities-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.amenities-list {
  width: 20%;
  margin-right: 20px;
  text-align: left;
}

.amenities-list ul {
  list-style-type: none;
  padding: 0;
}

.amenities-list li {
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  padding: 10px 0;
  color: #000000;
  padding: 10px 20px;
}

.amenities-list li.active {
  background-color: #215B43;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: "Jost", sans-serif;
}

.carousel {
  position: relative;
  width: 55%;
  overflow: hidden;
  margin: auto 0;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.amenities-name {
  display: none;
}

.amenities-desktop-image {
  display: block;
}

.amenities-mobile-image {
  display: none;
}

.carousel-item img {
  width: 90%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  z-index: 10;
}

.carousel-control.prev {
  left: 0px;
}

.carousel-control.next {
  right: 0px;
}


.floor-plans {
  text-align: center;
  position: relative;
  width: 90%;
  margin: 0 auto 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.floor-plans h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 38px;
  color: #000000;
  margin-top: 60px;
}

.floor-plans-tabs {
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.floor-plans-tabs::-webkit-scrollbar {
  display: none;
}

.floor-plans-tab {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #cecccc;
  font-family: "Jost", sans-serif;
  min-width: 25%;
  text-align: center;
  transition: all 0.3s;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  margin-right: 3px;
}

.floor-plans-tab:focus,
.floor-plans-tab.focus {
  background-color: #004221;
  color: white;
}

.floor-plans-tab-content.active {
  opacity: 1;
  display: block;
  width: 70vw;
}

.floor-plans-tab-content.hidden {
  display: none;
  opacity: 0;
}

.floor-plans-container,
.master-floor-plans-container {
  display: flex;
  transition: transform 0.5s ease;
}


.floor-plans-item,
.master-floor-plans-item {
  position: relative;
  /* Add this line */
  min-width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  margin-top: 30px;
}

.unit-plan-size {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #215B43;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease;
  z-index: 5;
  font-family: "Jost", sans-serif;
}

.floor-plans-view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #215B43;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease;
  z-index: 5;
  font-family: "Jost", sans-serif;
}

.floor-plans-view-button:hover {
  background-color: #004221;
}


.floor-plans-item img,
.master-floor-plans-item img {
  width: 90%;
  filter: blur(5px);
}

.floor-plans-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  z-index: 10;
}

.floor-plans-control.prev {
  left: 0px;
}

.floor-plans-control.next {
  right: 0px;
}

.thumbnail-strip {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.thumbnail-strip img {
  width: 100px;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.thumbnail-strip img:hover {
  border-color: #4CAF50;
}

.location-map {
  text-align: center;
  padding: 20px;
}

.location-map h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  color: #000000;
}

.location-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.location-list {
  width: 20%;
  margin: 20px;
}

.location-list ul {
  list-style-type: none;
  padding: 0;
}

.location-list li {
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  color: #000000;
  text-align: left;
  transition: background-color 0.3s ease;
}

.location-list li.active {
  background-color: #215B43;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.map-carousel {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.map-container {
  display: flex;
  transition: transform 0.5s ease;
}

.map-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-item ul {
  list-style: none;
  width: 100%;
}

.map-item ul li h2 {
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
}

.map-item ul li {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.location-name {
  width: 40%;
  text-align: left;
}

.location-dots {
  width: 25%;
  text-align: right;
}

.location-time {
  width: 25%;
  text-align: right;
}

.map-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  z-index: 10;
}

.map-control.prev {
  left: 0px;
}

.map-control.next {
  right: 0px;
}

.location-map iframe {
  margin-top: 20px;
}

.project-video {
  text-align: center;
  margin: 20px;
}

.project-video h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 38px;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  width: 60%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.video-wrapper,
.video-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  text-shadow: 0 0 5px black;
  pointer-events: none;
}

.home-loan {
  padding: 20px;
  text-align: center;
}

.home-loan h1 {
  font-family: "Josefin Sans", sans-serif;
  margin: 20px;
  font-size: 38px;
}

.bank-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  width: 90%;
  margin: 40px auto;
}

.bank-logos img {
  height: 10vh;
  max-width: 20%;
  flex: 1 1 calc(25% - 40px);
  aspect-ratio: 1/1; /* Ensures images maintain the same aspect ratio */
  mix-blend-mode: multiply;
  object-fit: contain; /* Ensures the entire image fits within the container without being stretched */
}

.legacy {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f8f8;
}

.legacy h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  margin-bottom: 40px;
  color: #000000;
  /* font-family: "Roboto",sans-serif; */
}

.legacy-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  font-family: "Jost", sans-serif;
}

.stat {
  max-width: 25%;
  text-align: center;
  flex: 1 1 calc(25% - 40px);
  /* For desktop */
}

.stat img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.stat p {
  font-size: 18px;
  line-height: 1.4;
  color: #555;
}

.stat strong {
  font-size: 24px;
  color: #000;
}

footer {
  bottom: 0;
  background-color: #004221;
  color: white;
  text-align: center;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  width: 80%;
  padding: 0 0 20px 0;
  position: relative;
  /* Ensure the pseudo-element is positioned relative to this element */
}

footer div::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  /* Center the border by adjusting the left position */
  width: 80%;
  /* Set the desired width */
  border-bottom: 2px solid white;
  /* Border properties */
}


footer h3 {
  font-family: "Josefin Sans", sans-serif;
  margin: 20px 0 5px;
}

footer p {
  font-family: "Jost", sans-serif;
  padding: 5px 0 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

.developer-office {
  text-align: left;
}

.developer-office img {
  width: 15%;
  padding: 5px;
  background-color: white;
}

.site-address {
  text-align: left;

}

/* ==================================================== Mobile version ========================================= */

@media (max-width: 768px) {

  .about-the-project h1,
  .unit-details h1,
  .gallery h1,
  .amenities h1,
  .floor-plans h1,
  .location-map h1,
  .project-video h1,
  .home-loan h1,
  .legacy h1 {
    font-size: 30px;
  }

  .about-the-project h1::after {
    display: none;
  }

  .about-the-project .heading {
    width: auto;
  }

  nav {
    width: 95vw;
    padding: 0 10px;
  }

  .nav-items {
    display: none;
  }

  nav ul li a img {
    margin-top: 3%;
    width: 150px;
    height: 65px;
  }

  .nav-items-hamburger {
    display: block;
  }

  .nav-items-hamburger li {
    margin: 0;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .enquiry-form {
    padding: 7%;
    width: 70%;
  }
  #close-button {
    top: 25px;
    right: 25px;
  }

  .mobile-nav {
    height: 55vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100vw;
    margin-top: 48px;
  }

  .mobile-nav a {
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 92vw;
    backdrop-filter: blur(10px);
    background-color: #ffffff;
    z-index: 100;
    border-top: 2px solid #004221;
  }

  .bottom-nav div {
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .bottom-nav div a div {
    background-image: url('assets/call.gif');
    width: 35px;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border-right: 2px solid white;
    background-color: white;
  }

  .bottom-nav div a {
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "jost", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-right: 3px solid #004221;
  }

  .bottom-nav div button div{
    background-image: url('assets/enquiry.gif');
    width: 35px;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border-right: 2px solid white;
    background-color: white;
  } 

  .bottom-nav div button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }


  main {
    height: 87vh;
    background-image: url('assets/DWC\ banner\ mobile.jpg');
  }

  .project-about {
    width: 90vw;
  }

  .project-about p {
    width: 90%;
    text-align: left;
  }

  .project-about-icon {
    margin: 0 0 0 0;
    width: 50%;
    text-align: center;
    justify-content: flex-start;
    height: 20vh;
  }

  .project-about-icon img {
    width: 80px;
    height: 80px;
  }

  .project-about-icon p {
    text-align: center;
  }

  .project-about h2 {
    font-size: 21px;
  }

  .unit-cards {
    flex-direction: column;
    padding: 10px 0;
  }

  .unit-details {
    padding: 70px 0 60px 0;
  }

  .unit-details .unit-card {
    height: 30vh;
    width: 50vw;
    margin-bottom: 20px;
  }

  .gallery-tab-content.active {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  }

  .gallery-tab {
    font-size: 14px;
    padding: 8px;
    min-width: auto;
    margin-right: 3px;
  }

  .amenities-desktop-image {
    display: none;
  }

  .amenities-mobile-image {
    display: block;
  }

  .amenities-list {
    display: none;
  }

  .amenities-name {
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    padding: 5px 15px;
    background-color: #004221;
    color: white;
  }

  .carousel {
    width: 100%;
  }

  .carousel-control.prev {
    display: block;
  }

  .carousel-control.next {
    display: block;
  }

  .floor-plans-control {
    top: 58%;
  }

  .unit-plan-size {
    padding: 2px 10px;
  }

  .location-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .location-list {
    width: 100%;
  }

  .map-carousel {
    margin-top: 20px;
    width: 90%;
  }

  .map-item ul li h2 {
    font-size: 23px;
  }

  .map-control.prev {
    display: block;
  }

  .map-control.next {
    display: block;
  }

  .video-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .video-wrapper iframe {
    border-radius: 12px;
  }

  .video-thumbnail img {
    border-radius: 12px;
  }

  .bank-logos img {
    flex: 1 1 calc(50% - 40px);
    max-width: 45%;
    width: 80px;
    height: 80px;
  }

  .stat {
    max-width: 50%;
    flex: 1 1 calc(50% - 40px);
    /* For mobile */
  }

  footer{
    margin-bottom: 6vh;
  }

  footer div {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  footer section {
    width: 90%;
    margin-bottom: 5%;
  }

  .developer-office img {
    width: 50%;
  }

}

/* =================================================== Small mobile version ==================================== */

@media screen and (max-width: 380px) {

  .mobile-nav {
    height: 70vh;
    padding-top: 30px;
    margin-top: 42px;
  }

  .bottom-nav div a div {
    height: 4vh;
  }

  main {
    margin-top: 30px;
  }

  .project-about-icon {
    height: 25vh;
  }

  .unit-details .unit-card {
    height: 35vh;
    width: 55vw;
  }

  .unit-plan-size {
    width: 35vw;
  }

}

/* Custom breakpoints */
/* @media (max-width: 480px) {
} */

/* @media (min-width: 481px) and (max-width: 768px) {
} */

/* @media (min-width: 769px) and (max-width: 1024px) {
} */

/* @media (min-width: 1025px) { */
/* } */