*{
    margin: 0;
    padding: 0;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004221;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}


nav{
    position: fixed;
    display: flex;
    flex-direction: row ;
    width: 96vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #F2F2F2;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-right: 50px;
    opacity: 0;
    transform: translateY(-30px); /* Start the items 30px above their final position */
    transition: opacity 0.5s, transform 0.5s;
}

#nav-links li:nth-child(1) {
    transition-delay: 0.1s; /* Delay for the first item */
}
#nav-links li:nth-child(2) {
    transition-delay: 0.2s; /* Delay for the second item */
}
/* Add similar transition-delay properties for the rest of the list items */

/* Animate the list items when they become visible */
#nav-links li.animate {
    opacity: 1;
    transform: translateY(0);
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

nav ul li a img{
    margin-top: 3%;
    width: 160px;
    height: 70px;
}

main{
    background-image: url("assets/DWC\ banner.webp");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about-the-project{
    height: 100vh;
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
}

.project-about
{   
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.project-about-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.project-about-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;
}

.project-config{
    height: 100vh;
    background-color: #3D9970;
}

.gallery{
    height: 100vh;
    background-color: #993D70;
}

.amenities{
    height: 100vh;
    background-color: #703D99;
}

.floor-plans{
    height: 100vh;
    background-color: #99703D;
}

.location-map{
    height: 100vh;
    background-color: #70993D;
}

.project-video{
    height: 100vh;
    background-color: #3D7099;
}

.home-loan{
    height: 100vh;
    background-color: #3D9999;
}

.legacy{
    height: 100vh;
    background-color: #993D3D;
}

footer{
    bottom: 0;
    height: 30vh;
    background-color: #004221;
    color: white;
    text-align: center;
    padding: 10px;
}

